
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<section>

    <h2>GESTION DE DETOS DE CLIENTES </h2>
    <img id="imagen" src="~/Imagenes/imgServ1.jpg" />
</section>