
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<section id="imgIndex" class="contenedor">
    <h2>**PÁGINA PRINCIPAL**</h2>
    <br />
    <figure>
        <img id="foto" src="~/Imagenes/imgIndex.jpg" />
    </figure>
</section>

